{% extends "base.html" %}
{% block title %}Login|MyTodo{% endblock %}

{% block content %}
<div class="login-box">
    <h2>Login</h2>
    <form method="POST">
        <div class="form-group">
            <label for="username">
                Username:
                <input type="text" id="username" name="username" required>
            </label>
        </div>
        <div class="form-group">
            <label for="password">
                Password:
                <input type="password" id="password" name="password" minlength="6" required>
            </label>
        </div>
        <button type="submit" class="btn">Login</button>
    </form>
    <p style="text-align: center; margin-top: 20px;">
        Don't have an account? <a href="{{ url_for('auth.register') }}" style="color: #007bff; text-decoration: none;">Register here</a>
    </p>
</div>
{% endblock %}